<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>contact</title>
    <link rel= "stylesheet" href= "about.css">
  </head>
  <body>
    Don't bother to contact us. We are too busy cooking and baking
    </body>
    </html>