<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>legal</title>
    <link rel= "stylesheet" href= "about.css">
  </head>
  <body>
    Relax! Click on the icon on the welcome page and start over again
    </body>
    </html>